#app {
    .data-container {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 700px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

        #r1 {

        }
        #r2 {
            
        }
        #r3 {
            
        }
        #r4 {
            
        }
    }
}